* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----------------------BODY------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fffbcb;
}

/*-------------------HEADER/NAV--------------------*/

.header nav ul li a {
  text-decoration: none;
  color: #fffbcb;
  font-size: 25px;
  transition: color 0.2s ease-in-out;
  &:hover {
  color: black;
}
}
/*-------------------FOOTER--------------------*/
.footer {
  background-color: #45546c;
  color: #fffbcb;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 2rem 15px;
}
.footer #footerT {
  text-decoration: none;
  color: #fffbcb;
  font-size: 25px;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: black; }
}

/*-----------------------LAYOUT------------------------*/
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas:
    "header header"
    "galeria galeria"
    "footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: galeria;
}

footer {
  grid-area: footer;
}