/*-----------------------NOSOTROS------------------------*/
.main #mainNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 150px;
  }
  
  hgroup {
    margin-bottom: 2rem;
  }
  