/-----------------------NOSOTROS------------------------/
.main #mainNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 150px;
}
hgroup {
  margin-bottom: 2rem;
}

.carousel-item {
  position: relative;
  max-height: 540px;
  .carousel-caption {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 3rem;
  }
  img {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}