.imagenTor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.5;
    transform: translateY(10px);
    transition: all 0.5s ease-in-out;

    &:hover {
        opacity: 1;
        transform: translateY(0);
    }
}

.imagenTor--one {
    @extend.imagenTor;


}

.imagenTor--two {
    @extend.imagenTor;

}

.imagenTor--three {
    @extend.imagenTor;

}

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}

.my_mixin {
    @include sizes (300px, 300px);
}

$tortas:(oreo: Brown,
    apple: Green,
    carrot: orange,
);

@each $tor,
$color in $tortas {
    .tortas--#{$tor} {
        background-color: $color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }

}