$tortas:(oreo: Brown,
    apple: Green,
    carrot: orange,
);
@each $tor,
$color in $tortas {
    .tortas--#{$tor} {
        background-color: $color;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }

}
.imagenTor {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px; 
}
.imagenTor--one {
    @extend.imagenTor;
    border: 4px dashed brown;

}
.imagenTor--two {
    @extend.imagenTor;
    border: 4px dashed green;
}
.imagenTor--three {
    @extend.imagenTor;
    border: 4px dashed orange;
}
@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}
.my_mixin {
    @include sizes (300px, 300px);
}