.imagenTor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    img {
       object-fit: cover;
       object-position: center;
       transition: all 0.3s ease-in-out;
    }
    figure {
        overflow: hidden;
        width: fit-content;
        height: fit-content;
    }
    figure:hover > img {
        transform: scale(1.1);
    }
}

.imagenTor--one {
    @extend.imagenTor;


}

.imagenTor--two {
    @extend.imagenTor;

}

.imagenTor--three {
    @extend.imagenTor;

}

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}

.my_mixin {
    @include sizes (300px, 300px);
}

$tortas:(oreo: Brown,
    apple: Green,
    carrot: orange,
);

@each $tor,
$color in $tortas {
    .tortas--#{$tor} {
        background-color: $color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }

}